meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Promoción de acciones para la mitigación de impactos y eliminación del uso del mercurio
meta(meta name="description" content="Para cerrar el proceso formativo de este curso complementario, centraremos las actividades en la comprensión práctica del enfoque diferencial y de género, y les entregaremos algunas herramientas que se han utilizado en Colombia para la eliminación del uso del mercurio. Estos elementos completarán las bases teóricas recibidas en las unidades temáticas previas, y les permitirán resolver la última actividad de aprendizaje: construir una estrategia para eliminar, reducir el uso o mitigar el impacto del mercurio teniendo en cuenta los criterios de diversidad y enfoque de género. Felicitaciones por su avance, cada una de sus buenas prácticas nos permitirá asumir lo que dice el Secretario General de las Naciones Unidas, António Guterres, en el prólogo del Convenio de Minamata: “Lo más difícil está por venir, porque toca ahora implementarlo [Convenio de Minamata] con rapidez y eficacia para reducir al mínimo los riesgos que la amenaza tóxica de envenenamiento por mercurio plantea para las comunidades en todas las regiones”. Juntos hagamos del mercurio una historia #MakeMercuryHistory")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")