h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Proponer acciones de mitigación/eliminación de los efectos del mercurio, teniendo en cuenta el Convenio de Minamata, la dimensión de género y el enfoque diferencial.