h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Dimensión de género y diferencial', 'main.html#page/dimension/')
                    +navTemaItem('2', 'Lineamientos de género para el sector minero/energético: prevención de la violencia basada en género y trabajo infantil en las zonas mineras', 'main.html#page/lineamientos/')
                    +navTemaItem('3', 'Herramientas para la mitigación', 'main.html#page/herramientas/')