.container#dimension

    .header-ecored

        h1 1. Dimensión de género y diferencial   

    br#dimension1

    .subtitulo-guion

        h2 1.1 Dimensión de género y diferencial: relación con el medio ambiente y el mercurio
    
    .card

        .card-body

            .card-text

                .row

                    .col-12.col-md-6

                        .row.d-flex.align-items-center

                            .col-12.mb-md-5

                                p.mb-3 Empecemos esta temática con una explicación sencilla del Ministerio del Interior (Guerra Urrego, H. F., Buitrago, A., Aragon, C., & Narvaez, S. H. (2017)):

                            .col-12.mt-md-5

                                p.bg-color
                                    i "En un Estado social de derecho, toda persona es igual ante la ley. Por tanto, la igualdad debe traducirse en el trato idéntico del Estado para todos y todas, y en este sentido se reconocen derechos iguales para todas las personas."

                    .col-12.col-md-6.text-center.mt-3

                        img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")

                    .col-12.mt-4

                        p Sin embargo, dado que solo se puede dar un trato igual entre iguales, se justifica un trato diferente para quienes se encuentran en condiciones de mayor vulnerabilidad, con el fin de lograr efectivamente la igualdad. 

                        p.mt-4 Es, por tanto, que se hace necesario implementar acciones diferenciales acordes con las necesidades, diferencias y desigualdades de las personas.

    .subtitulo-guion

        h2 Actividad didáctica: grupos de especial protección.

    .jumbotron.bg-white

        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-5.col-xl-4.mb-5
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", style="max-width: 80%")
            
            .col-12.col-md-7
                hr.line-100.bg-orange
                .text-center.p-2
                    p Realice esta actividad preliminar para identificar los Grupos de especial protección, o que presentan condiciones de mayor vulnerabilidad.
                    a(href="media/actividades/actividad1/index.html" target="_blank" class="btn btn-colour-Orange") Iniciar            
                hr.line-100.bg-orange
    
    .card

        .row.mx-0.bg-color2.p-4

            .col-12

                h2 Grupos de especial protección

            .col-12.text-center.mt-3

                img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 70%")

        .card-body

            .card-text

                p Revisemos estos términos relacionados con condiciones de vulnerabilidad:
        
        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")

        .row.p-3

            .col-12.mx-3

                p Una discapacidad es una deficiencia física, mental, intelectual o sensorial a largo plazo que al interactuar con diversas barreras pueden impedir su participación plena y efectiva en la sociedad en igualdad de condiciones con los demás. 

                p Las discapacidades se dividen en: 

        .row.p-3

            .col-12

                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img2.svg").avatar-img

                                p.text-left
                                    b Discapacidad auditiva
                                p.text-left Es la deficiencia que hace que una persona no pueda oír bien.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img3.svg").avatar-img

                                p.text-left
                                    b Discapacidad visual
                                p.text-left Es la ceguera definitiva o la baja visión que se vuelve permanente.
                
                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img4.svg").avatar-img

                                p.text-left
                                    b Discapacidad cognitiva
                                p.text-left Es la dificultad para desarrollar habilidades intelectuales (por ejemplo, de memoria y atención), cotidianas (bañarse o comer) y sociales (relaciones e interacción con otras personas).
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img5.svg").avatar-img

                                p.text-left
                                    b Discapacidad motora
                                p.text-left Es la dificultad para moverse como consecuencia de un accidente o de haber nacido con la discapacidad. Por ejemplo, las personas que no tienen movilidad en sus piernas o en sus brazos o en ambos tienen una discapacidad motora.
            
        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%")

            .col-12.mx-0.mt-4

                img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")

        .row.p-4
            
            .col-12

                p El artículo 7 de la Constitución Nacional reconoce y protege la diversidad étnica y cultural.

                p El origen étnico es una característica que está asociada a la manera como las personas se auto reconocen.

                p De acuerdo con ello, en Colombia los grupos étnicos se clasifican en:
    
        .row.p-3

            .col-12

                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img6.svg").avatar-img

                                p.text-left
                                    b Afrodescendiente
                                p.text-left Son las personas descendientes de africanos/as que se reconocen como afrocolombianos.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img7.svg").avatar-img

                                p.text-left
                                    b Negro
                                p.text-left Son las personas descendientes de africanos/as.
                
                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img8.svg").avatar-img

                                p.text-left
                                    b Raizal
                                p.text-left Es la población con raíces africanas de las islas de San Andrés, Providencia y Santa Catalina.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img9.svg").avatar-img

                                p.text-left
                                    b Palenquero
                                p.text-left Son las personas descendientes de africanos/as que durante la esclavitud se establecieron en lo que hoy es el corregimiento de San Basilio de Palenque que pertenece a el Municipio de Mahates (Bolívar).
                
                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img10.svg").avatar-img

                                p.text-left
                                    b Indígena
                                p.text-left Son las personas que descienden de los pueblos aborígenes que se encontraban en América antes de la llegada de Cristóbal Colón.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img11.svg").avatar-img

                                p.text-left
                                    b Rom
                                p.text-left También conocida como Rrom, es la población gitana.
        
        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")

            .col-12.mx-0.mt-4

                img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")
        
        .row.p-4
            
            .col-12

                p En el imaginario de las personas pueden aparecer muchas ideas de lo que significa incorporar el enfoque de género, y algunas pueden apuntar a una incorporación real y otras distan de lo que realmente debería ser; nuestro punto de partida, por tal motivo, es clarificar los conceptos en los que se basa la incorporación del enfoque de género.

                p Veamos los siguientes términos para iniciar:

                h2 Género

                p El género se refiere a los roles, comportamientos, actividades, y atributos que una sociedad determinada en una época determinada considera apropiados para hombres y mujeres. Además de los atributos sociales y las oportunidades asociadas con la condición de ser hombre y mujer, y las relaciones entre mujeres y hombres, y niñas y niños, el género también se refiere a las relaciones entre mujeres y las relaciones entre hombres. 

                p Estos atributos, oportunidades y relaciones son construidos socialmente y aprendidos a través del proceso de socialización. Son especificas al contexto/época y son cambiantes. 

                p El género determina qué se espera, qué se permite y qué se valora en una mujer o en un hombre en un contexto determinado.

        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
        
        .row.p-4
            
            .col-12

                h2 Igualdad de género

                p Se refiere a la igualdad de derechos, responsabilidades y oportunidades de las mujeres y los hombres y de las niñas y los niños. La igualdad no significa que las mujeres y los hombres serán iguales, sino que los derechos, responsabilidades y oportunidades de las mujeres y los hombres no dependerán de si nacieron con determinado sexo.

                p Este derecho está contemplado en el artículo 43 de la Constitución Nacional de Colombia cuando dice que “La mujer y el hombre tienen iguales derechos y oportunidades”(..)

                h2 Equidad de género

                p Se refiere al trato justo de la mujer y el hombre en función de sus necesidades respectivas. Esto puede incluir un trato igual, o un trato diferente pero considerado equivalente en cuanto a los derechos, los beneficios, las obligaciones y las oportunidades.

                h2 Enfoque de género

                p El enfoque de género es una forma de ver o analizar, que consiste en observar el impacto del género en las oportunidades, roles e interacciones sociales de las personas. Esta forma de ver es lo que nos permite realizar un análisis y luego transversalizar una perspectiva de género en un programa o política propuesta, o en una organización.

            .col-12.col-md-6

                h2 Empoderamiento de las mujeres

                p El empoderamiento de las mujeres y las niñas es tener poder y control sobre sus propias vidas. Implica concienciación, desarrollar autoestima, ampliar sus opciones, más acceso y control de los recursos, y acciones para transformar las estructuras e instituciones que refuerzan y perpetúan la discriminación y la desigualdad de género. 

                p Esto implica que para estar empoderadas no solo deben tener las mismas capacidades (tales como educación y salud) e igual acceso a los recursos y oportunidades (tales como tierra y empleo), sino que también deben poder usar esos derechos, capacidades, recursos y oportunidades para optar y tomar decisiones estratégicas (como las que brindan las posiciones de liderazgo y participación en instituciones políticas).

                p
                    i Tomado de Comunica 2020.

            .col-12.col-md-6.text-center

                img.img-fluid(src="assets/images/pages/img12.svg", style="max-width: 100%")

    .card

        .card-body

            .card-text

                .row

                    .col-12

                        h2 ¿Pueden identificar estos conceptos dentro de un contexto?

                        p Dayerly y Santiago son compañeros de trabajo, cumplen la misma función en una empresa de procesamiento y venta de productos pesqueros del Departamento de Nariño. Dayerly es una mujer afrocolombiana, vive en Tumaco, tiene 4 hijos, es madre soltera y por efectos de la violencia tuvo que desplazarse de un corregimiento alejado (El Charco) al casco municipal hace dos años. Santiago vive en Pasto, es casado y tiene 3 hijos.
                        br
                        p Por efectos de la política de recorte de personal de la empresa, Dayerly y Santiago fueron despedidos de su trabajo sin previo aviso. Después de 4 meses del despido Dayerly tuvo que mudarse de su casa a un cuarto pequeño de alquiler con sus cuatro hijos y se vio obligada a vender dulces hechos de coco en las calles. Ninguno de sus hijos está estudiando. 
                        br
                        p Santiago ha visto duramente afectada su economía familiar. Tuvo que cambiar a sus hijos a colegios más económicos y su esposa tuvo que volver a vender manualidades a sus familiares y amigas. 
                        br
                        p Santiago consiguió un trabajo como operario en una fábrica de zapatos hace 15 días.
                        br
                        p Fuente: Jiménez & Correa, 2020. Herramienta: 
                            i Incorporación de un enfoque de género en la eliminación del uso de mercurio
                            | . Proyecto Comunica.
                        br
                        p Destapa las siguientes cartas para conocer su relación con la historia:

        .row.mx-0

            .col-12

                #accordionExample.accordion

                    .card
                        #headingOne.card-header(style="background-color: #45AAB4")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Género
                        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample', style="background-color: #DAEEF0")
                            .card-body

                                .row
                                    .col-12
                                        p.mb-3 El género de Dayerly, entre otros aspectos, juega un papel importante en el nivel de impacto que sufrió por el hecho de haber sido despedida de su trabajo. Los factores que hacen del género un factor fundamental a la hora de entender el impacto son entre otros:
                                        ul
                                            li.mb-3 En Colombia la incidencia de la pobreza en hogares con jefatura femenina es mayor a la de los hogares con jefatura masculina (En 2017, entre los hogares con jefatura masculina la incidencia de la pobreza monetaria alcanzaba un 25.5%, en contraste con el 29,7% que se estima para aquellos con jefatura femenina, lo que representa una brecha de 4.2%).
                                            li.mb-3 Las mujeres observan mayores niveles de pobreza que los hombres (para 2017 había 120.3 mujeres pobres entre los 20 y 59 años por cada 100 hombres en esa misma condición).
                                            li.mb-3 Para el 2018 se reportó una brecha de 22.6 puntos porcentuales entre la participación de las mujeres y los hombres en el mercado laboral).
                                            li.mb-3 En Colombia las mujeres perciben menos ingresos que los hombres por el cumplimiento de la misma labor: Por cada 100 pesos que los hombres perciben, las mujeres perciben 83.
                                            li.mb-3 Las mujeres jóvenes en Colombia están más representadas que los hombres jóvenes en la población que no trabaja ni estudia (la diferencia es de 18 puntos porcentuales).
                                            li.mb-3 Las mujeres están más representadas que los hombres en el empleo informal (la diferencia es de 4 puntos porcentuales).
                                            li.mb-3 Las mujeres están más representadas que los hombres en la población que trabaja a tiempo parcial (17.5 puntos porcentuales de diferencia).
                                        p Estos factores hacen que el impacto del despido sea diferente para Dayerly y Santiago en razón a su género.
            
                    .card
                        #headingTwo.card-header(style="background-color: #45AAB4")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Igualdad de género
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample', style="background-color: #DAEEF0")
                            .card-body

                                .row
                                    .col-12
                                        p.mb-3 Teniendo en cuenta que la Igualdad de género significa que hombres y mujeres deben tener el mismo acceso a derechos y oportunidades, las cifras y datos muestran que esa igualdad sigue siendo una aspiración en muchos sentidos.

                                        p Se puede afirmar que existen elementos de desigualdad o discriminación de género que hacen que el impacto del despido sea más profundos o gravosos para Dayerly.

                    .card
                        #headingFour.card-header(style="background-color: #45AAB4")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Equidad de género
                        #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample', style="background-color: #DAEEF0")
                            .card-body

                                .row
                                    .col-12
                                        p La equidad de género se refiere al trato justo de la mujer y el hombre en función de sus necesidades respectivas. Esto implica que para abordar la situación que actualmente enfrentan Dayerly y Santiago es necesario entender que sus condiciones particulares (jefatura de hogar, situación de desplazamiento, entre otros) y sus necesidades son distintas y por ende ameritan un trato diferencial que permite que ambos lleguen a disfrutar de sus derechos en igualdad de género.

                    .card
                        #headingFive.card-header(style="background-color: #45AAB4")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Enfoque de género
                        #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample', style="background-color: #DAEEF0")
                            .card-body

                                .row
                                    .col-12
                                        p Tiene como objetivo principal incrementar la participación de los artesanos en el sector productivo nacional, logrando un desarrollo integral sostenido que se manifieste en el mejoramiento del nivel de vida, que se refleje tanto en un índice creciente de ingresos y espacios de participación social, como en una mayor productividad y posicionamiento de la artesanía en los mercados locales, regionales, nacionales e internacionales. (Artesanías de Colombia, s.f.)

                    .card
                        #headingSix.card-header(style="background-color: #45AAB4")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Empoderamiento de las mujeres
                        #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample', style="background-color: #DAEEF0")
                            .card-body

                                .row
                                    .col-12
                                        p Es probable que entre las medidas que puedan tomarse para mitigar el impacto del despido sobre Santiago y Dayerly deba contemplarse medidas que favorezcan el empoderamiento de ella: Su capacidad para poder usar sus derechos, capacidades, recursos y oportunidades para optar y tomar decisiones estratégicas.

    .card

        .card-body

            .card-text

                .row

                    .col-12

                        h2 ¿Cómo está conectado el enfoque de género con la eliminación del uso del mercurio?
        
        img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")

        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")
        
        .row.p-4.justify-content-center

            .col-12

                h2 Vía de exposición prenatal

                p En la función reproductiva, la mujer juega un papel vital en la prolongación de los efectos del mercurio, debido a que el metilmercurio que se encuentra en su cuerpo se distribuye por todos los tejidos atravesando fácilmente la placenta e ingresando al cuerpo del bebe. (Instituto Nacional de Vigilancia de Medicamentos y Alimentos, 2015); esto implica que, en algunos niños predispuestos genéticamente, el mercurio pueda reducir su cociente intelectual en 25 puntos.

            .col-5

                table.table.table-striped.m-0
                    thead.thead-dark
                        tr
                            td(colspan='2').text-center.table1
                                h3.mb-0 Interpretación del cociente intelectual

                    tbody
                        tr
                            td.table2
                                b CI
                            td.table2
                                b Interpretación
                        tr
                            td.table3 >130
                            td.table3 Muy dotada
                        tr
                            td.table2 121-130
                            td.table2 Dotada
                        tr
                            td.table3 111-120
                            td.table3 Inteligencia por encima de la media
                        tr
                            td.table2 90-110
                            td.table2 Inteligencia media
                        tr
                            td.table3 80-89
                            td.table3 Inteligencia por debajo de la media
                        tr
                            td.table2 70-79
                            td.table2 Retraso mental
        
        .row.p-4.mx-0.bg-color2

            .col-12.col-md-6

                h2 Exposición ocupacional

                p Algunos datos demográficos indican la predominancia femenina en actividades de la salud, por cada hombre con formación en áreas de la salud hay 3,4 mujeres (Superintendencia Nacional de Salud, 2013); esto incluye la participación de mujeres en actividades de enfermería y odontología, identificadas como profesiones de exposición ocupacional al mercurio y metilmercurio (elaboración, puesta y remoción de amalgamas dentales). 

                p Las investigaciones de Akesson et al (1991) han puesto en evidencia niveles significativamente mayores de mercurio en orina de enfermeras y en el personal dental en comparación con un grupo control.

            .col-12.col-md-6.text-center

                img.img-fluid(src="assets/images/pages/img13.svg", style="max-width: 100%")
            
            .col-12

                p Estos valores estaban asociados con el número de pacientes que son tratados para la restauración o colocación de amalgamas; sus propias amalgamas y el sexo. Los autores encontraron que las mujeres tenían niveles mayores de mercurio en la orina que los hombres, lo cual se asocia con metabolismos de mercurio diferentes (Morales Fuentes & Reyes Gil, 2003).
        
        .row

            .col-12.mx-0

                img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
        
        .row.p-4

            .col-12

                h2 Condiciones preexistentes: sociales, laborales y económicas

                p Existen una serie de condiciones preexistentes al uso del mercurio que determinan la vulnerabilidad particular de las mujeres:

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Los Bajos niveles de escolaridad femenina que cierran sus oportunidades laborales; 
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 El desempleo y la predominancia de la labor minera en la economía local;
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 La jefatura económica femenina del hogar;
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Las labores reproductivas que están a cargo de las mujeres (cuidado de niños y niñas, adultos mayores y personas en situación de discapacidad;
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Las barreras que enfrentan las mujeres para participar en escenarios de formación o divulgación sobre los impactos del uso del mercurio y sobre alternativas a su uso;
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 El desarrollo de la actividad minera en situaciones precarias o de dependencia frente a otros.
                
                h2.mt-4 Mujer y Medio Ambiente

                p Entre las personas más afectadas por los desafíos climáticos de la actualidad se hallan las mujeres, puesto que recogen agua, pescan o cultivan tierras afectadas por inundaciones. Durante el embarazo y la maternidad, su salud se encuentra en mayor riesgo. Mientras tanto, su voz suele ser la última a la que se presta atención en la planificación y la gestión ambientales. Asimismo, disponen de menos acceso a tierras y recursos productivos.

                p Veamos la siguiente evaluación realizada por la Comisión Interamericana de Mujeres sobre los Impactos Diferenciados Del Cambio Climático.

        .row.mx-0.align-items-center.p-3.bg-color3

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")

            .col-9

                p El cambio climático podría afectar la vida de millones de personas especialmente en las zonas rurales, agrícolas y costeras y la seguridad alimentaria.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Aumento en jornadas de trabajo extenuantes de las mujeres ocasionadas por las sequías, inundaciones y problemas en la conservación del suelo.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Exposición a ciertos químicos industriales y agrícolas que aumenta la vulnerabilidad de las mujeres a enfermedades durante el embarazo y el parto, los riesgos de la mortalidad infantil y discapacidades.
        
        .row.mx-0.align-items-center.p-3.bg-color4

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%")

            .col-9

                p Según el Panel Intergubernamental en Cambio Climático aproximadamente 1700 millones de personas, una tercera parte de la población del mundo, viven en situaciones sometidos a la escasez de agua.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Brote de enfermedades asociadas a la falta de acceso a agua potable segura, saneamiento inadecuado y falta de higiene. El número de muertes por este tipo de enfermedades en los países en desarrollo es de más de 2.2 millones de personas cada año. Las enfermedades que se transmiten por agua de mala calidad son responsables del 80% de los trastornos y las muertes en países en desarrollo.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Vulnerabilidad a la desnutrición, enfermedades infecciosas y respiratorias de mujeres embarazadas, especialmente si son muy jóvenes, se encuentran en sus últimos años reproductivos o han tenido muchos embarazos.
        
        .row.mx-0.align-items-center.p-3.bg-color5

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")

            .col-9

                p La madera para leña es un recurso escaso para el 40% de las mujeres rurales en América Latina.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Incremento en el número de horas que las mujeres dedican al transporte de agua y leña. Las mujeres dedican tres veces más tiempo y transportan cuatro veces más volumen de leña y agua que los hombres. Alrededor del mundo, el promedio de tiempo que emplea cada familia en transportar agua y leña para las actividades domésticas es de 1320 horas al año (una mujer adulta contribuye con 1095 horas por año, equivalentes a un promedio de tres horas diarias de su jornada laboral).
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Reducción de escolaridad de las niñas por sus obligaciones en la búsqueda de agua y leña e impacto en sus potencialidades como factor de cambio.
        
        .row.mx-0.align-items-center.p-3.bg-color6

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")

            .col-9

                p Los roles tradicionales exponen a las mujeres a mayores cantidades de POPs (Ej. pesticidas, productos de limpieza doméstica). Las mujeres poseen una capa de grasa subcutánea más espesa que retiene los POPs y otros residuos de substancias químicas tóxicas, como resultado los efectos en la salud por peligros medioambientales tienen mayor incidencia en las mujeres.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Mayores y más peligrosos niveles de contaminación del aire y agua así como el contacto diario de sustancias químicas. Según la OMS aproximadamente 1,6 millones de personas mueren como resultado de la contaminación del aire en lugares cerrados por la quema de combustibles sólidos, donde las mujeres y los niños de las zonas rurales corren el mayor riesgo.

        .row.mx-0.align-items-center.p-3.bg-color7

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")

            .col-9

                p Las zonas más pobres del mundo podrían ser devastadas por el aumento de las temperaturas, los desastres naturales, las sequías y la desertificación.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Incremento de enfermedades cuando se dan condiciones climáticas favorables para su diseminación, por ejemplo aquellas transmitidas por insectos antes y después de la estación Lluviosa o por vectores (malaria, dengue, fiebre amarilla, diarrea y cólera).
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Reducción del tiempo de los niños(as) en las escuelas en razón de los desastres naturales, el desplazamiento y/o las migraciones asociadas con los cambios climáticos (desastres naturales y sequías por ejemplo).
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Permanencia de las mujeres y niños en sus pueblos y limitaciones de acceso a refugios dado que un 90% del cuidado de menores y ancianos corresponde a las mujeres lo que complica o impide su traslado.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Aumento de migración en la población masculina con lo que se aumentan considerablemente las responsabilidades de la mujer.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Aumento de las infecciones de VIH/SIDA y otras enfermedades de transmisión sexual dadas las separaciones que sufren las familias y el hacinamiento frecuente que se produce en los refugios y asentamientos improvisados. Un estudio efectuado por el IPCC en 2006 estima que para el año 2050 el número posibles de refugiados del clima será de 150 millones.

        .row.mx-0.align-items-center.p-3.bg-color3

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12.text-center

                        p Accede a más información sobre el tema en: Género y Cambio Climático de la Comisión Interamericana de Mujeres (2008). Santiago de Chile.

                    .col-auto

                        section
                            a(href="https://www.oas.org/cip/docs/cursos_anteriores/33_semhemisf_mujer_ago09/presentaciones/5_krasmussen_ago09.pdf" target="_blank").media-link
                                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Género y cambio climático.

            .col-12.col-md-6.text-center.p-2

                img.img-fluid(src="assets/images/pages/img14.svg", style="max-width: 100%")
    
    .card

        .card-body

            .card-text

                .row

                    .col-12

                        h2 Las Mujeres y el mercurio
        
        .row.mx-0

            .col-12

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                        li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/img16.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img17.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img18.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img19.png', alt='3')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img20.png', alt='4')                          
                                                                                    
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next

        .row

            .col-12.mx-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ya2y4IjHp7M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.mt-4

            .col-12.mx-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/BCleDU3Go2g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.mx-0.align-items-center.p-3.bg-color3

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12.text-center

                        h2 Material complementario

                    .col-12.text-center

                        p Fotoreportaje: El cambio climático es una cuestión que afecta a las mujeres. ONU Mujeres Disponible en:

                    .col-auto

                        section
                            a(href="https://interactive.unwomen.org/multimedia/photo/climatechange/es/index.html" target="_blank").media-link
                                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Onu mujeres.

            .col-12.col-md-6.text-center.p-2

                img.img-fluid(src="assets/images/pages/img14.svg", style="max-width: 100%")
        
        .row

            .col-12.mx-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wYr3DNWcFO0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#lineamientos
    
    .subtitulo-guion

        h2 1.2 Lineamientos de género para el sector minero/energético: prevención de la violencia basada en género y trabajo infantil en las zonas mineras
    
    .card

        .card-body

            .card-text

                h2 Lineamientos de género para el sector minero/energético

                p El sector minero energético en Colombia es importante para la economía del país. Sin embargo, se ha encontrado que los empleos directos generados por el sector minero-energético se encuentran altamente masculinizados y la participación de las mujeres se encuentra por debajo del promedio nacional. 

                p.mt-3 Por esta razón, el Ministerio de Minas y Energía ha incorporado y transversalizado el enfoque de género en estas actividades. Veamos cómo se ha venido desarrollando la transversalización del enfoque de género en el sector extractivo desde el ministerio.
        
        .row.bg-color3.mx-0.p-4

            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span 1
                .list__txt
                p.mb-0 Se busca la vinculación de mujeres en empleos directos, cargos de decisión, escenarios de participación comunitarios y en la cadena de valor del sector.
            .list.align-items-center.mt-2
                .list__item
                    .list__item__bulletNumber
                        span 2
                .list__txt
                p.mb-0 Se promueve una cultura para la equidad de género en el sector.
            .list.align-items-start.mt-2
                .list__item
                    .list__item__bulletNumber
                        span 3
                .list__txt
                p.mb-0 Se busca la articulación y coordinación de acciones diferenciadas para el sector de manera interinstitucional e intersectorial.
            .list.align-items-start.mt-2
                .list__item
                    .list__item__bulletNumber
                        span 4
                .list__txt
                p.mb-0 Prevención de violencias contra las mujeres en la industria y comunidad de influencia.
        
        .row.mx-0

            .col-12.p-4

                p
                    i Así mismo, podemos resaltar que desde marzo de 2020, el sector minero energético cuenta con una política pública de género de obligatorio cumplimiento, denominada 
                        b “Lineamientos de género para el sector minero energético” 
                        | del Ministerio de Minas y Energía; diseñada con dos objetivos fundamentales:
        
        .row.p-3

            .col-12

                .row.mt-md-7
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img15.svg").avatar-img

                                p.text-left Impulsar la participación y el liderazgo de las mujeres en el sector minero energético ya que   tradicionalmente este ha sido un campo de trabajo para los hombres.

                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img16.svg").avatar-img

                                p.text-left Evidenciar el impacto de las actividades mineras y energéticas en la vida de las mujeres, niñas, niños y adolescentes para identificar la brecha en el ejercicio de su derecho a la igualdad de oportunidades así como de violencias como el trabajo infantil y la violencia basada en género.
        
        .row.bg-color8.mx-0

            .col-12.p-4

                p Estos lineamientos de género del sector minero energético responden principalmente a 4 brechas de género, es decir, cuatro áreas en las que se evidencia la desigualdad entre hombres y mujeres.  (Jimenez, 2020)

                p Veamos cuales son:

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 80%")
            
            .col-12.mt-3.px-0

                img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 100%")

    .card

        .card-body

            .card-text

                h2 Temas clave sobre los lineamientos de género para el sector minero/energético

                p Es fundamental tener en cuenta que la igualdad de género y el empoderamiento de la mujer hace parte de las obligaciones de todas y todos los funcionarios públicos en Colombia en virtud de los compromisos adquiridos por el estado colombiano y la legislación vigente.
                br
                p Colombia ha avanzado en estos compromisos mediante la adopción de un marco jurídico de igualdad de género que vincula a todos los sectores de la administración pública a nivel nacional y territorial.
                br
                p Para el sector minero energético recientemente ha sido expedido un marco jurídico específico: los lineamientos de igualdad de género para el sector minero energético que orientan las medidas que deben adoptarse para avanzar en el cierre de las brechas de género actualmente existentes (Jimenez, 2020).
        
        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
        
        .row

            .col-12.p-4

                p Cerraremos esta temática ampliando los dos conceptos que menciona la política de género: el trabajo infantil y la violencia basada en género. 

        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img24.png", style="max-width: 100%")
        
        .row

            .col-12.p-4

                p Conocida por la sigla VBG, la Violencia Basada en Género es cualquier acto de violencia ejercido en contra de una persona que se encuentra en una relación desigual de poder respecto de otra (persona).

                p La VBG se alimenta de estereotipos de género creados por las normas sociales. Son las mujeres quienes sufren mayor violencia porque se encuentran en desventaja por diferentes razones como el no ser independientes económicamente y porque las normas sociales han edificado la imagen de las mujeres como seres sumisos y dependientes. 

                p Consciente de ello el Estado ha promulgado una serie de normas para prevenir la violencia contra las mujeres con la finalidad de proteger su vida e integridad física y emocional. De acuerdo con la Convención Interamericana para prevenir, sancionar y erradicar la violencia contra la mujer; y con la ley 1257 de 2008, las formas de violencia contra las mujeres son:
        
        .row.mx-0.align-items-center.p-3.bg-color3

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img17.svg", style="max-width: 100%")

            .col-9

                p
                    b Violencia física

                p Es el ejercicio de poder mediante la utilización de la fuerza física para agredir el cuerpo de una mujer que produce un daño físico con secuelas físicas y también emocionales.
        
        .row.mx-0.align-items-center.p-3.bg-color4

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img18.svg", style="max-width: 100%")

            .col-9

                p 
                    b Violencia psicológica
                
                p Es cualquier forma de intimidación contra una mujer mediante insultos, humillaciones, amenazas y descalificaciones con el objetivo de mermar su dignidad humana para manipularla. Ocasiona traumatismo y daño emocional.

        
        .row.mx-0.align-items-center.p-3.bg-color5

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img19.svg", style="max-width: 100%")

            .col-9

                p 
                    b Violencia sexual
                
                p Es cualquier acto dirigido a obligar a una mujer a tener un contacto sexual en contra de su voluntad vulnerando sus derechos sexuales y reproductivos, es decir los derechos relacionados con el ejercicio de la sexualidad.  Los hechos que constituyen violencia sexual son esclavitud sexual, abuso sexual y actos sexuales con menor de 14 años, embarazo forzado, esterilización forzada, aborto forzado, prostitución forzada, desnudez forzada, trata de personas con fines de explotación sexual, acoso sexual y violencia sexual con mayor de 14 años. Produce daño físico y emocional.
        
        .row.mx-0.align-items-center.p-3.bg-color6

            .col-3.text-center

                img.img-fluid(src="assets/images/pages/img20.svg", style="max-width: 100%")

            .col-9

                p 
                    b Violencia económica
                
                p Es la destrucción, limitación o control de los bienes materiales de una mujer y de su hijos/as para lesionar su autoestima y crear una relación de dependencia con el agresor que le permita controlarla. Produce daño emocional y económico.
        
        .row.align-items-center.bg-color4.mx-0.p-4

            .col-12.col-md-6.mb-3.text-center

                p.m-0 Veamos el siguiente “Violentómetro”.

            .col-12.col-md-6.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_16_Violentometro.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p Violentómetro

    .card

        .card-body

            .card-text

                .row.align-items-center

                    .col-3.text-center

                        img.img-fluid(src="assets/images/pages/img21.svg", style="max-width: 100%")

                    .col-9

                        h2.m-0 Paréntesis informativo: Leyes que protegen a las mujeres de cualquier forma de violencia basada en género
        
        .row.mx-0.bg-color3

            .col-12.p-4

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Ley 1257 de 2008: Es la ley que previene y sanciona la violencia física, sexual, psicológica y económica ejercida contra las mujeres. Además, crea el delito de acoso sexual que es el hostigamiento, mediante asedio físico e insinuaciones verbales, que se le hace a una mujer con fines sexuales aprovechándose de una relación de autoridad respecto de una mujer.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Ley 1719 de 2014: Es la ley que garantiza el acceso a la justicia para las víctimas de violencia sexual.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Ley 1761 de 2015: Conocida como ley Rosa Elvira Cely, crea el delito penal del feminicidio, es decir el asesinato de una mujer cometido por un hombre.
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                    p.mb-0 Ley 1773 de 2016: Crea el delito penal de lesiones personales por ataques con ácido y otros agentes químicos.
        
        .row.mx-0.bg-color1.p-4

            .col-12

                h2 Recursos complementarios

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12

                        p Rutas de prevención de violencia contra las mujeres. Vicepresidencia de la República, Equidad de la Mujer (2018).

                        .col-auto

                            section
                                a(href="media/documentos/Anexo_4_Rutas_de_prevencion.pdf" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Rutas de prevención

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12

                        p 
                            b Comprender y abordar la violencia contra las mujeres. 
                            | Femicidio. Organización Mundial de la Salud, 2013. Washington, DC.

                        .col-auto

                            section
                                a(href="media/documentos/Anexo_17_Comprender_abordar_violencia.pdf" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Comprender abordar violencia
        
        .row.mx-0.align-items-center.p-4.bg-color3

            .col-12

                h2 Test de Asociación Implícita (TAI) [estereotipos] de IAT Corp 

                p Este Test se ha utilizado para comprender los procesos cognitivos de los cuales la persona no tiene conocimiento consiente, tales como el racismo, nacionalidad, sexismo, homofobia, entre otros. 

                p Acceda al siguiente enlace, sección 
                    b Tome un Test de Demostración
                    | , en la parte inferior derecha debe dar click en 
                    b
                        i sabiendo esto, quiero proceder
                    | , una vez ingrese a la siguiente interfaz, seleccione una de las categorías que le gustaría medir. 

                p En el navegador encontrará la sección para resolver dudas e inquietudes preparadas por IAT Corp. 


            .col-12.col-md-6.text-center.p-2

                img.img-fluid(src="assets/images/pages/img14.svg", style="max-width: 100%")

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-auto

                        section
                            a(href="https://implicit.harvard.edu/implicit/spain/takeatest.html" target="_blank").media-link
                                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Test de Asociación Implícita (TAI).
    
    .card

        img.img-fluid(src="assets/images/pages/img25.png", style="max-width: 100%")

        .card-body

            .card-text

                p
                    b El trabajo infantil 
                    | está definido como 
                    i toda actividad física o mental, remunerada o no, dedicada a la producción, comercialización, transformación, venta o distribución de bienes o servicios realizada en forma independiente o al servicio de otra persona natural o jurídica por personas menores de 18 años de edad 
                    | (Plan nacional para la erradicación del trabajo infantil y la protección al joven trabajador, ICBF, 2016).
                br
                p Las peores formas de trabajo infantil de acuerdo con la Organización Internacional del Trabajo son aquellas que le impiden a los niños y las niñas disfrutar de su infancia y de la oportunidad de estudiar.  En Colombia, el trabajo infantil en la minería está prohibido por la ley 1382 de 2010 que   es complementaria del Código minero.
        
        .row.px-4

            .col-12.col-md-4.text-center

                img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 100%")

            .col-12.col-md-8

                p El Instituto Colombiano de Bienestar Familiar ICBF señala como una de las posibles causas del trabajo infantil en la minería artesanal, el ser un oficio que se realiza de generación en generación para poder sobrevivir, es decir si el papá y la mamá hacen minería lo más probable es que sus pequeños hijos también lo hagan. Este predicado plantea un preocupante rol de género que estaría indicando que los niños y las niñas deben asumir cargas económicas para contribuir con los gastos familiares. Con el trabajo infantil en la minería artesanal y de subsistencia, los niños y las niñas se exponen a un riesgo adicional como la contaminación con mercurio cuando éste es manipulado e inhalado por los pequeños.
                br
                p La Convención de los derechos del niño y de la niña, adoptada por el Estado de Colombia en 1991 es una carta de derechos que tienen los niños y las niñas para protegerlos frente a vulneraciones a sus derechos como el derecho a la vida digna, a la integridad física y emocional, a la educación   y a no ser sujeto de ninguna forma de trabajo forzoso, entre otros derechos de igual importancia.
        
        .row.mx-0.bg-color1.p-4

            .col-12

                h2 Recursos complementarios

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12

                        p 
                            b Cartilla: Edúcame primero Colombia.
                        p De: Jariego, S; Palacio, J (2012)   Proyecto de cooperación internacional entre la Universidad de Sevilla y la Universidad del Norte.

                        .col-auto

                            section
                                a(href="https://www.icbf.gov.co/sites/default/files/educamente_primero_colombia.pdf" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Edúcame primero Colombia

            .col-12.col-md-6

                .row.d-flex.justify-content-center

                    .col-12

                        p 
                            b Información web
                        p Hacia la primera generación libre de trabajo infantil. De: Iniciativa Regional América Latina y el Caribe libre de trabajo infantil (2020).

                        .col-auto

                            section
                                a(href="http://target8-7.iniciativa2025alc.org/" target="_blank").media-link
                                    img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Hacia la primera generación libre de trabajo infantil.
    
    .subtitulo-guion

        h2 Actividad didáctica: relación de términos en el enfoque diferencial y de género.

    .jumbotron.bg-white

        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-5.col-xl-4.mb-5
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", style="max-width: 80%")
            
            .col-12.col-md-7
                hr.line-100.bg-orange
                .text-center.p-2
                    p Para fijar la información aprendida, disponemos el siguiente ejercicio de repaso de términos y situaciones sobre el enfoque diferencial y de género.
                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange") Iniciar            
                hr.line-100.bg-orange