.container#herramientas

    .header-ecored

        h1 2. Herramientas para la mitigación

    br#metodologia

    .subtitulo-guion

        h2 2.1 Metodologías para el análisis de problemáticas y opciones de solución
    
    .card

        .card-body

            .card-text

                h2 Metodologías para el análisis de problemáticas y opciones de solución

                p Para cerrar su ciclo formativo como promotores, trabajaremos una metodología que les permitirá identificar diferentes caminos para eliminar el uso del mercurio y mitigar sus impactos en su entorno.
                br
                p Como lo explica Correa, (2019) la implementación de nuevos procesos que involucran actores de gobierno (o el cumplimiento de una política) requieren un esfuerzo adicional para transformar los lenguajes tradicionales a nuevos lenguajes: centrando el diagnóstico y la implementación de una solución en el usuario y no en las políticas.
        
        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img27.png", style="max-width: 100%")
        
        .row.p-4

            .col-12

                p Esta unidad temática los invita a explorar una herramienta útil para la incorporación de procesos creativos en la solución de problemas, que ha sido desarrollada en los últimos 15 años por diseñadores, ingenieros, arquitectos, psicólogos y muchos otros profesionales que centran su mirada en el ser humano; esta herramienta es denominada: Pensamiento de Diseño o Design Thinking (inglés).

                p En el siguiente vídeo, veremos de qué se trata esta metodología: ¿Qué es el pensamiento de diseño? De. EBC Academia (2016).

        .row

            .col-12.mx-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/6bITxp_76gE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .card

        .card-body

            .card-text

                h2 En resumen ¿Qué es el pensamiento de diseño?

                p Es un método para generar ideas innovadoras que centra su eficacia en entender y dar solución a las necesidades reales de los usuarios.

        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img28.png", style="max-width: 100%")

        .row.p-4

            .col-12

                h3 ¿Cómo funciona?

                p Se compone de cinco etapas: Empatizar; Definir; Idear; Prototipar y Validar. No es lineal: en cualquier momento puede volver hacia atrás o hacia delante si lo ve oportuno, saltando incluso a etapas no consecutivas. Comienza recolectando mucha información y generando una gran cantidad de contenido, que crecerá o disminuirá dependiendo de la fase del modelo.
        
        .row

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img29.png", style="max-width: 80%")
        
        .row.p-4

            .col-12

                h3 ¿Cuáles son sus beneficios?

                p Principalmente, podemos decir que a través de estos cinco pasos es posible hacer una rápida y sólida investigación sobre cualquier situación haciendo partícipe al o los usuarios involucrados y asegurando una eficaz implementación.
        
        .row

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img30.png", style="max-width: 80%")
        
        .row.p-4.mt-4

            .col-12

                h3 ¿Cuáles son las tareas para cada etapa del modelo?
        
        .row.p-3

            .col-12

                .row.mt-md-6
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img22.svg").avatar-img

                                p.text-left
                                    b Paso 1. Empatizar (ponerse en los zapatos del usuario/área de interés)

                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Consultar a expertos.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Comprender sus experiencias y motivaciones, así como 
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Sumergirse en el entorno físico.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img23.svg").avatar-img

                                p.text-left
                                    b Paso 2. Definir (seleccionar un problema central)
                                
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Analizar sus observaciones.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Sintetizar los problemas centrales.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0.text-left Escribir un solo problema como una declaración centrada en el ser humano.

        .row.p-4

            .col-12

                p
                    b NO 
                    | "Necesitamos aumentar nuestra participación en el mercado de productos alimenticios entre las adolescentes jóvenes en un 5%".
                
                p
                    b SI
                    | "Las adolescentes necesitan comer alimentos nutritivos para prosperar, estar saludables y crecer".
        
        .row.p-3

            .col-12

                .row.mt-md-6
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img24.svg").avatar-img

                                p.text-left
                                    b Paso 3. Idear ("pensar fuera de la caja")
                                
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Leer casos de referencia.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Visitar lugares/personas para obtener inspiración.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Dibujar el problema (mapa mental).
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Obtener tantas ideas o soluciones como sea posible.
                    
                    .col-12.col-md-6.mt-sm-7.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img25.svg").avatar-img

                                p.text-left
                                    b Paso 4. Prototipar (investigar la solución)
                                
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Elaborar bocetos.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0.text-left Desarrollar situaciones, piezas, gráficas, documentos, historietas, maquetas y otros.

        .row.p-4

            .col-12

                p Al final de esta etapa, tendrán una mejor idea de las limitaciones inherentes al producto y los problemas que están presentes, y tendrá una visión más clara de cómo se comportaría, pensarían y sentirían los usuarios reales al interactuar con el producto final.
            
            .col-12.mt-4

                .row.mt-md-6.d-flex.justify-content-center
                    .col-12.col-md-6.mt-sm-6.mt-md-0
                        .card.bg-brand-color-light
                            .card-body.text-center

                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/img26.svg").avatar-img

                                p.text-left
                                    b Paso 5. Validar (utilizar las mejores soluciones identificadas)
                                
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Descartar soluciones a problemas.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0.text-left Adaptar la solución a: las condiciones de uso, el pensamiento de las personas, su comportamiento y sentimientos.
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                    p.mb-0 Realizar modificaciones y mejoras.

    .card

        .card-body

            .card-text

                p Consulte el caso de estudio Minería de oro en San Roque, Antioquia, y veamos cómo se puede utilizar esta herramienta para resolver la situación sobre minería de oro:
        
        .row.mx-0.bg-color1

            .col-12.p-4

                p.text-center
                    b Detrás de cámaras en la aplicación de la metodología de Pensamiento de diseño para la eliminación del uso del mercurio en la minería aurífera

        .row.mx-0.bg-color5

            .col-12

                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Empatía
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Definición
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong Ideación
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Prototipado
                        a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                            strong Testeo
                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                            .row
                                .col-12
                                    p La primera tarea del equipo fue ponerse en los zapatos de la alcaldía municipal y del grupo minero para entender mejor la situación. Así que dejando su rol de asesores o consultores tomaron la posición de servidores, para lo cual realizaron 
                                        b 3 actividades
                                        | :
                                    
                                    .list.align-items-start
                                        .list__item
                                            .list__item__bulletNumber
                                                span 1
                                        .list__txt
                                        p.mb-0 Un taller sobre conceptos básicos para autoridades locales: detrás de todos los objetivos de aprendizaje trazados para el taller esta actividad tenía como fin conocer sus relaciones de poder, identificar principales intereses políticos y administrativos, generar lazos de confianza y respeto, y finalmente generar conciencia sobre los impactos del mercurio en su territorio.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__bulletNumber
                                                span 2
                                        .list__txt
                                        p.mb-0 Un taller sobre prácticas de minería limpia para el grupo minero: así como el taller con autoridades, el fin último de esta actividad estaba relacionada con sumergirse en el entorno físico y social del usuario de interés: los mineros. Así que para este taller primero se hicieron reuniones individuales con las asociaciones mineras existentes para explicar los intereses del proyecto relacionados con el mercurio, y se utilizó la caseta comunal: una zona reconocida como comunitaria y segura para la población. El taller utilizó lenguaje sencillo, valoró los presaberes mineros y se enfocó en el saber-hacer ¿cómo utilizar el canalón, la batea y la retorta? ¿cómo mejorar la eficiencia del molino? ¿cómo se debe sentir el material fino, grueso, rico en carbón o arsénico? El objetivo no era decir que el mercurio estaba por ser prohibido en Colombia ni indicar que ellos pertenecían a la ilegalidad, sino conocer sus motivaciones y experiencias.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__bulletNumber
                                                span 3
                                        .list__txt
                                        p.mb-0 Trabajo de escritorio: investigación amplia sobre el municipio: historia, actividades económicas, tradiciones, demografía, características ambientales, mineras, participación ciudadana, conflictos sociales, eventos significativos y asignaciones presupuestales.

                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')

                            .row
                                .col-12
                                    p Los principales hallazgos encontrados demostraban que existía la voluntad política de la autoridad local, y el interés minero para cambiar la situación que vivían sobre el mercurio. Adicionalmente, se identificó que había técnicos y profesionales de la alcaldía preparados para profundizar sobre diferentes soluciones: con conocimiento y las habilidades para usarlo; y una población minera que ya estaba dejando técnicas rudimentarias de la minería y estaba en una transformación técnica y tecnológica. 
                                    p Para comprender mejor la situación, se sintetizaron los problemas centrales y se declararon como centrados en el ser humano (y no en la institución):
                                
                                .col-12.text-center
                                    img.img-fluid(src="assets/images/pages/img36.png", style="max-width: 80%")

                                .col-12.mt-4
                                    p Al final quedaban interrogantes sobre las declaraciones anteriores;
                                    p ¿por qué la población minera persiste en la minería con mercurio si pueden ser perseguidos por la policía? ¿por qué no existen programas de acompañamiento a la minería? ¿por qué los programas de promoción a la minería limpia los ha dirigido la gran empresa minera? ¿cómo se abordan las problemáticas de vulnerabilidad de la población minera?
                                    p La priorización de los problemas consideró las restricciones o la libertad para actuar del equipo en territorio, las que tenían que ver con las políticas de estado o el comportamiento de terceros, estaban por fuera del alcance municipal y de las metas a corto plazo; así que primaron las que requerían decisiones locales y pocos recursos financieros y humanos.
                                    p Al resolver esta:

                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 La población minera es desconocida por la autoridad local y su impacto/relevancia no ha sido evaluado política ni administrativamente.
                                    
                                    p.mt-4 Estas podrían ser resueltas con mayor facilidad:

                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 La población minera informales no están cambiando sus prácticas de uso de mercurio a pesar de la llegada de la normatividad y la difusión de información sobre los problemas que genera el mercurio.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 La población minera se encuentra en estado de vulnerabilidad económica que los pone en riesgo de victimización por explotación laboral forzada, y extorsión.
                        
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                            .row
                                .col-12.text-center
                                    p
                                        b Ideas versus experiencias previas en el municipio
                                
                                .col-12.text-center
                                    img.img-fluid(src="assets/images/pages/img37.png", style="max-width: 80%")
                                
                                .col-12.mt-4
                                    p ¿Cuáles de las anteriores considera el interés minero para cambiar su propia situación?
                                    p Repasando el contexto y los hallazgos previos, el equipo entendió que era necesario transformar el rol de observador de la autoridad y crear una intervención que responda a un propósito conjunto Alcaldía - Población minera. Tal relación es relevante por las disposiciones de ley que recaen sobre la Alcaldía relacionadas con la planeación de su territorio, la seguridad y la minería de oro; así mismo es importante pensar en los beneficios de convivencia, credibilidad y colaboración que una intervención co-creada entre ambas partes podría generar.
                                    p Así que tomando la idea dos como punto de partida, se evalúan los ajustes que debería tener para adaptarse al comportamiento, intereses y motivaciones de la población minera; resultando de este proceso la creación de una operación en territorio del censo minero municipal, con las siguientes características:

                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 La información a recaudar debe estar relacionada con lo que le interesa saber al grupo minero y a la alcaldía (diferentes dependencias) para promover acciones multisectoriales.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 La ejecución debe ser en campo, en las zonas mineras durante las jornadas de trabajo. Así se reduce el margen de registro de personas que no existen o pertenecen a otras actividades. Visitar los socavones, entables y compras de oro.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Los canales de difusión deben centrarse en el <
                                            spam voz a voz
                                            | > y alejarse de la virtualidad. El material virtual es útil para enterar aliados, y dejar una referencia confiable del proceso; no obstante, la radio, las carteleras comunitarias, las reuniones de asociaciones locales y las visitas a mercados, congregaciones religiosas y educativas, son fuentes más cercanas a la población minera.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Toda la población: hombres y mujeres, involucrada en la minería municipal debe ser convocada. Es importante hacer explícita la convocatoria a las mujeres, con mensajes como: “Mujer minera tú también cuentas, participa en el censo minero municipal” o la disposición de imágenes femenino/masculino en los carteles.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Las relaciones de confianza sobre el proceso deben estar soportadas por: compromiso de la alcaldía (puede ser con un mensaje del alcalde para los mineros), el manifiesto escrito sobre el tratamiento de datos, la participación de líderes y lideresas mineras en la toma de datos y un discurso unificado entre los encuestadores de: participación voluntaria en la encuesta y de la relevancia del censo como una herramienta para la planificación municipal.
                        
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')

                            .row
                                .col-12
                                    p Para probar cómo funcionaría el censo, se construyó:
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Un cronograma de visitas (marcando las veredas y puntos de congregación minera).
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Un protocolo de discurso para acercarse a las personas.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Un borrador de cuña radial para convocar hombres y mujeres, así como de cartel informativo.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Ficha para la recolección de datos (digital y en papel).

                                    p.mt-4 Se prepararon 3 personas para hacer una visita de prueba en campo, y se hicieron un par de llamadas para darle a conocer el primer ejercicio a los líderes mineros. Algunos hallazgos dieron como resultado las primeras modificaciones:
                                
                                .col-12.text-center
                                    img.img-fluid(src="assets/images/pages/img38.png", style="max-width: 80%")

                        #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')

                            .row
                                .col-12
                                    p El censo minero se realizó entre el 1 de octubre y el 15 de diciembre de 2018, y registró a 629 personas (87 mujeres y 542 hombres) de los tres corregimientos del municipio (Providencia, Cristales y, San José del Nus).
                                    p La información recolectada se organizó en tres categorías que contienen alrededor de 180 preguntas o campos con posible respuesta:

                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Categoría 1. Información socioeconómica de la población.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Categoría 2. Actividad minera de la población.
                                    .list.align-items-start
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                        .list__txt
                                        p.mb-0 Categoría 3. Conocimiento y manejo del mercurio.

                                    p.mt-4 A partir del censo minero se entregaron los siguientes:

                                    .list.align-items-start
                                        .list__item
                                            .list__item__bulletNumber
                                                span 1
                                        .list__txt
                                        p.mb-0 Informe específico para las secretarías de salud, educación, ambiente y planeación; consejo municipal y despacho del alcalde.
                                    .list.align-items-start.mt-2
                                        .list__item
                                            .list__item__bulletNumber
                                                span 2
                                        .list__txt
                                        p.mb-0 Evaluación de la situación de las mujeres involucradas en la minería de oro.
                                    .list.align-items-start.mt-2
                                        .list__item
                                            .list__item__bulletNumber
                                                span 3
                                        .list__txt
                                        p.mb-0 Cartilla infográfica para la población minera.
                                    .list.align-items-start.mt-2
                                        .list__item
                                            .list__item__bulletNumber
                                                span 4
                                        .list__txt
                                        p.mb-0 Instructivo sobre cómo elaborar y ejecutar un censo minero para la Alcaldía y otras entidades que quiera implementar la estrategia.
    
    .card

        .card-body

            .card-text

                h2 Resultado del proceso

                p Dos años después del censo minero, el municipio ha avanzado a pasos gigantes en el relacionamiento con su población de subsistencia: implementó el sistema de gobierno, dirigió las concertaciones para subcontratos mineros y la contratación con la gran empresa minera, implementó un programa educativo en tecnologías limpias certificado para las mujeres mineras, ha ejecutado varios talleres cortos sobre el uso de otra tecnologías para la minería, y fortaleció su oficina para la atención directa a la población minera.
                br
                p Veamos el siguiente vídeo del Alcalde de San Roque 2016-2019.
        
        .row

            .col-12.mx-0

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DBSpbinaJUA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img39.png", style="max-width: 100%")

    br#herramientas1

    .subtitulo-guion

        h2 Herramientas y estrategias para la eliminación del uso y mitigación del impacto del mercurio
    
    .row

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img40.png", style="max-width: 80%")
    
    .card

        .card-body

            .card-text

                p.mb-3 El concepto de estrategias municipales para la eliminación del uso del mercurio está compuesto por las directrices y parámetros del Convenio de Minamata, que en Colombia los percibimos a través de la legislación vigente, y por otro lado, por las brechas para su cumplimiento.

                h3.mt-4 El Convenio de Minamata sobre Mercurio

                p.mb-3 En su anexo C, describe las estrategias municipales como herramientas que facilitan las acciones tendientes a la eliminación del mercurio en un país y sugiere la inclusión de: 

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                    p.mb-0 La promoción de la reducción de emisiones y liberaciones de mercurio, y la exposición a esa sustancia.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                    p.mb-0 La prevención del desvío de mercurio
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span C
                    .list__txt
                    p.mb-0 La gestión de la salud pública. Dicha estrategia debería incluir, la reunión de datos de salud, la capacitación de trabajadores de la salud y campañas de sensibilización a través de los centros de salud.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span D
                    .list__txt
                    p.mb-0 La prevención de la exposición de las poblaciones vulnerables al mercurio.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span E
                    .list__txt
                    p.mb-0 La entrega de información a los mineros artesanales y a las comunidades afectadas.

                h3.mt-4 Brechas para su cumplimiento

                p.mt-3 ONUDI et al (2017), concluyen que las habilidades técnicas y organizativas de las autoridades colombianas en territorio son muy bajas y entre más lejana sea su relación con una entidad ministerial o legisladora, menor será su capacidad para actuar. Es por esta razón, que sugiere instalar capacidad local para comprender los retos del Convenio de Minamata, fomentar la asociatividad minera y establecer una línea base del estado del uso del mercurio del territorio, para lograr el cumplimiento del Convenio.

        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img41.png", style="max-width: 100%")
        
        .row.p-4

            .col-12

                p Así las cosas, el desarrollo de estrategias para la eliminación del uso y mitigación del impacto del mercurio tiene como punto de partida: la evaluación de lo que sucede en cada territorio con respecto al ciclo del mercurio.

                .row.bg-color.align-items-center

                    .col-2.text-center

                        img.img-fluid(src="assets/images/pages/img27.svg", style="max-width: 100%")

                    .col-10

                        p
                            b ¡Importante!
                        p Esto quiere decir que las estrategias deben ser individualizadas por territorio: las fuentes del mercurio, sus usos y posconsumo, tienen manejos diferentes.
                
                p.mt-4 Recuerda la temática: 
                    b Convenio de Minamata y el ciclo de vida del mercurio
        
        .row.p-4.bg-color3.mx-0

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img42.png", style="max-width: 70%")

        .row.p-4

            .col-12

             p Veamos algunas preguntas que se pueden hacer durante esa evaluación:
        
        .row.mx-0

            .col-12

                #accordionExample.accordion

                    .card
                        #headingOne.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa 1 del ciclo: estado inicial del mercurio en la roca
                        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body
                                .row
                                    .col-12.text-center
                                        img.img-fluid(src="assets/images/pages/img43.png", style="max-width: 100%")
            
                    .card
                        #headingTwo.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa 2 del ciclo: transformación en mercurio y sus componentes
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body
                                .row
                                    .col-12
                                        img.img-fluid(src="assets/images/pages/img44.png", style="max-width: 100%")

                    .card
                        #headingFour.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa 3 del ciclo: productos con mercurio añadido
                        #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body
                                .row
                                    .col-12
                                        img.img-fluid(src="assets/images/pages/img45.png", style="max-width: 100%")

                    .card
                        #headingFive.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa 4 del ciclo: procesos industriales que utilizan mercurio
                        #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body
                                .row
                                    .col-12
                                        img.img-fluid(src="assets/images/pages/img46.png", style="max-width: 100%")

                    .card
                        #headingSix.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa 5 del ciclo: desechos del mercurio
                        #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body

                                .row
                                    .col-12
                                        img.img-fluid(src="assets/images/pages/img47.png", style="max-width: 100%")
                    .card
                        #headingSeven.card-header(style="background-color: #E2735A")
                            p(style="margin-top: 1rem")
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                    p(style="color: #FFFFFF; font-size: 20px").mb-0 Etapa permanente en el ciclo: efectos en la salud causados por el mercurio
                        #collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample', style="background-color: #F0866A")
                            .card-body
                                .row
                                    .col-12
                                        img.img-fluid(src="assets/images/pages/img48.png", style="max-width: 100%")
    
    .card

        img.img-fluid(src="assets/images/pages/img49.png", style="max-width: 100%")

        .card-body

            .card-text

                p Ahora que han resuelto estas preguntas, están listos y listas para determinar acciones a corto, y mediano plazo para reducir y eliminar el uso del mercurio.

                p.mt-3 Veamos a continuación 4 herramientas implementadas por el Proyecto Comunica, de la Cooperación Canadiense, para este fin:

        .row.mx-0.p-4.bg-color9.align-items-center

            .col-2.text-center

                img.img-fluid(src="assets/images/pages/img28.svg", style="max-width: 100%")

            .col-10

                h2.mb-0 Herramienta No 1.
                h2.mb-0 Una estrategia para asumir los retos de la eliminación del mercurio, desde el sector salud
        
        .row.mx-0.p-4.bg-color10

            .col-12

                p Correa, (2019) propone 4 pasos para lograr una estrategia en términos de salud. Lea el siguiente documento para conocer un poco más de este tema:

                p.mb-0 Complete el contenido con el siguiente material:

        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                    p.mb-0 Comunidad de San Roque y Santa Rosa de Osos le dice sí al autocuidado. Comunica Colombia.
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_18_Herramienta_salud.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Anexo 4. 
                            p Herramienta salud
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                    p.mb-0 Estrategia para incorporar una estrategia de salud para Eliminar el Uso del Mercurio. Comunica Fundación Agriteam. (2020, 27 febrero).
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="https://www.youtube.com/embed/UhaFn8tVTVY" target="_blank").media-link
                        img(src="assets/images/pages/icon_www5.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Video. 
                            p Salud

        .row.mx-0.p-4.bg-color11.align-items-center

            .col-2.text-center

                img.img-fluid(src="assets/images/pages/img29.svg", style="max-width: 100%")

            .col-10

                h2.mb-0 Herramienta No 2.
                h2.mb-0 Guía para la enseñanza del mercurio a escolares
        
        .row.mx-0.p-4.bg-color12

            .col-12

                p Algunas ayudas pedagógicas como talleres, juegos y vídeos que de manera sencilla dan a conocer a la población escolar lo que es y no es el mercurio, puede abrir las puertas a una comunidad joven informada y capaz de generar cambios en el futuro.

                p Frecuentemente, en la escuela los más pequeños replican esta información en sus hogares e incluso lo mencionan en reuniones de padres, logrando informar y sensibilizar a la sociedad civil sobre la importancia de asumir nuevos hábitos que permitan cambiar prácticas que eran consideradas ancestrales a prácticas limpias.

                p.mb-0 Complete el contenido con el siguiente material:

        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                    p.mb-0 Herramienta: Guía para la enseñanza del mercurio a escolares. Correa, & Kuchinski, (2019, octubre).
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_7_Herramienta_estudiantes.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Anexo 5. 
                            p Herramienta estudiantes
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                    p.mb-0 Juego de mesa: lotería “aprendamos de mercurio”.
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_8_Juego_loteria.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Anexo 6. 
                            p Juego loteria
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span C
                    .list__txt
                    p.mb-0 Juego de mesa: escalera “aprendamos de mercurio”.

            .col-4.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_9_Juego_escalera.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Anexo 7. 
                            p Juego escalera
        
        .row.mx-0.p-4.bg-color12

            .col-12

                p.mb-0 Complete el contenido conociendo la experiencia de algunos estudiantes y docentes involucrados:
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                    p.mb-0 Comunidad educativa de San Roque y Santa Rosa de Osos comprometida con la eliminación de mercurio. Comunica Colombia.
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="media/documentos/Anexo_10_Noticia_escolares.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Anexo 8. 
                            p Noticia Escolares
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                    p.mb-0 Estudiantes de San Roque, fortalecen sus conocimientos sobre eliminación del uso del mercurio.
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="https://www.youtube.com/embed/dUKEpZTFQ54" target="_blank").media-link
                        img(src="assets/images/pages/icon_www5.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Video. 
                            p Estudiantes
        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span C
                    .list__txt
                    p.mb-0 Comunidad educativa comprometida con la eliminación del uso del mercurio.

            .col-4.d-flex.justify-content-center

                section
                    a(href="https://www.youtube.com/embed/NN01WYZjcCg" target="_blank").media-link
                        img(src="assets/images/pages/icon_www5.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Video. 
                            p Comunidad educativa
        
        .row.mx-0.p-4.bg-color13.align-items-center

            .col-2.text-center

                img.img-fluid(src="assets/images/pages/img30.svg", style="max-width: 100%")

            .col-10

                h2.mb-0 Herramienta No 3.
                h2.mb-0 Incorporación de un enfoque de género en la eliminación del uso de mercurio
        
        .row.mx-0.p-4.bg-color14

            .col-12

                p Como lo vimos en la temática 10. Dimensión De Género y Diferencial, una estrategia eficaz para la eliminación del uso del mercurio comprende los impactos diferenciales de este metal sobre hombres y mujeres, pero también se prepara para mitigar las brechas que existen para mitigar sus impactos bien sea por raza, género, etnia u otro.

                .row.p-3.align-items-center

                    .col-8

                        p.m-0 En este caso les presentaremos la exposición que hace Jiménez., & Correa. (2020, mayo) sobre cuatro elementos que pueden ayudar a incorporar el enfoque de género para eliminar el uso del mercurio.

                    .col-4.d-flex.justify-content-center

                        section
                            a(href="media/documentos/Anexo_11_Herramienta_genero.pdf" target="_blank").media-link
                                img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                .media-link-title
                                    p
                                        b Anexo 9. 
                                    p Herramienta genero
                
                p.mt-4 Complete el contenido conociendo la experiencia de algunos estudiantes y docentes involucrados:

        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                    p.mb-0 Un censo minero con enfoque de género. Comunica Colombia.
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="https://comunicacolombia.co/noticias1/450084-un-censo-minero-con-enfoque-de-g%C3%A9nero.html" target="_blank").media-link
                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Noticia censo.

        
        .row.p-4.align-items-center

            .col-8

                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                    p.mb-0 Una ruta para la equidad. Comunica Colombia. Comunica. (2020, 15 mayo).
            
            .col-4.d-flex.justify-content-center

                section
                    a(href="https://comunicacolombia.co/noticias1/450141-una-ruta-para-la-equidad.html " target="_blank").media-link
                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Noticia equidad.

        .row.mx-0.p-4.bg-color15.align-items-center

            .col-2.text-center

                img.img-fluid(src="assets/images/pages/img31.svg", style="max-width: 100%")

            .col-10

                h2.mb-0 Herramienta No 4.
                h2.mb-0 Diagnóstico del estado de la minería a nivel municipal Censo minero
        
        .row.mx-0.p-4.bg-color16

            .col-12

                p Correa, M., & Jiménez, P. (2019, junio) desarrollaron esta herramienta como resultado del ejercicio descrito en la unidad temática 
                    b Metodologías para el análisis de problemáticas y opciones de solución.

                p Como pudieron observar, el reconocimiento de las realidades mineras de oro artesanal se convierte en una ventaja para la planificación territorial y un potente instrumento para focalizar servicios de formalización, entrenamiento, cambio de actividad económica y judicialización para la eliminación de uso del mercurio.

                .row.p-3.align-items-center

                    .col-8

                        p.m-0 Observe a continuación una cartilla que compila la información necesaria para elaborar un censo minero municipal.

                    .col-4.d-flex.justify-content-center

                        section
                            a(href="media/documentos/Anexo_14_Herramienta_censo.pdf" target="_blank").media-link
                                img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                                .media-link-title
                                    p
                                        b Anexo 10. 
                                    p  Herramienta censo

        .row.p-4

            .col-12

                h2 ¡Recuerda!

                p Para que esta labor tenga el alcance deseado, es importante considerar una secuencia lógica de actividades.

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img50.png", style="max-width: 80%")
        
        .row.p-4.bg-color17.mx-0

            .col-12

                p No olvide estas cinco prácticas de éxito para su gestión:

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img51.png", style="max-width: 80%")