.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Acoso sexual:
            | asediar insistentemente a una mujer mediante aproximaciones físicas e insinuaciones verbales de carácter sexual, aprovechándose de una posición de autoridad (Organización Internacional del Trabajo, 2013).
        p 
            strong.mr-2 Afluente:
            | arroyo o río secundario que desemboca o desagua en otro principal (RAE, 2019).
        p 
            strong.mr-2 Ajustes razonables:
            | se entenderán las modificaciones y adaptaciones necesarias y adecuadas que no impongan una carga desproporcionada o indebida, cuando se requieran en un caso particular, para garantizar a las personas con discapacidad el goce o ejercicio, en igualdad de condiciones con las demás, de todos los derechos humanos y libertades fundamentales (Parra-Dussan, C. 2016).
        p 
            strong.mr-2 Aleación:
            | producto homogéneo, obtenido por fusión, compuesto de dos o más elementos químicos, uno de los cuales, al menos, debe ser un metal (RAE, 2019).
        p 
            strong.mr-2 Amalgamación:
            | acción y efecto de amalgamar, aleación de mercurio con otro u otros metales, como oro, plata, etc., generalmente sólida o casi líquida (RAE,2019).
        p 
            strong.mr-2 Aurífero:
            | que lleva o contiene oro (RAE,2019).
        p 
            strong.mr-2 Autoridad ambiental competente:
            | es la autoridad administrativa que forma parte del Sistema Nacional Ambiental – SINA, que, de acuerdo con el reparto de funciones y competencias legales o reglamentarias, ejerce como autoridad ambiental en una determinada porción del territorio nacional. La única autoridad ambiental con jurisdicción en todo el territorio nacional, únicamente para los proyectos, obras y actividades que de acuerdo con las precisas funciones atribuidas en la ley y los reglamentos tengan o requieran un instrumento de manejo y control ambiental que sea de su competencia, es el Ministerio de Ambiente, Desarrollo Sostenible (ANLA, 2020).
        p 
            strong.mr-2 Barequeo:
            | el barequeo se entiende que es la actividad que se contrae al lavado de arenas por medios manuales, sin ninguna ayuda de maquinaria o medios mecánicos y con el objeto de separar y recoger metales preciosos contenidos en dichas arenas. Igualmente es permitida la recolección de piedras preciosas y semipreciosas por medios similares (Ministerio de Minas y Energía, 2003).
        p 
            strong.mr-2 Brecha:
            | abertura. En temas de desarrollo social se emplea para significar las profundas diferencias que existen entre las personas en términos de ejercicio de sus derechos y acceso a oportunidades (Ministerio de Minas y Energía, 2020).
        p 
            strong.mr-2 Cauce:
            | lecho del río, es decir por donde corren sus aguas. (RAE, 2019).
        p 
            strong.mr-2 Credo:
            | convicciones que tienen las personas y que hacen parte del derecho a la libertad religiosa. (RAE, 2019).
        p 
            strong.mr-2 Chatarreras:
            | mujeres que seleccionan de los escombros de piedras que han descartado los mineros de alguna mina, para encontrar una veta que contenga oro. Estás mujeres se conocen como seleccionadoras o chatarreras, dependiendo del lugar geográfico en donde se encuentren. (Somos Tesoro, 2018).
        p 
            strong.mr-2 Derecho a la igualdad:
            | todas las personas nacen libres e iguales ante la ley, recibirán la misma protección y trato de las autoridades y gozarán de los mismos derechos, libertades y oportunidades sin ninguna discriminación por razones de sexo, raza, origen nacional o familiar, lengua, religión, opinión política o filosófica (Constitución Política de Colombia, 1991).
        p 
            strong.mr-2 Derecho a la salud:
            | toda persona tiene derecho a un nivel de vida adecuado que le asegure, así como a su familia, la salud y el bienestar, y en especial la alimentación, el vestido, la vivienda, la asistencia médica y los servicios sociales necesarios (Organización de las Naciones Unidas 2015).
        p 
            strong.mr-2 Derecho a tener una vida digna:
            | la dignidad humana, entendida como autonomía o como posibilidad de diseñar un plan vital y de determinarse según sus características (vivir como quiera). La dignidad humana, entendida como ciertas condiciones materiales concretas de existencia (vivir bien). Y la dignidad humana entendida como intangibilidad de los bienes no patrimoniales, integridad física e integridad moral (vivir sin humillaciones). Corte Constitucional de Colombia, 2002).
        p 
            strong.mr-2 Derechos humanos:
            | los derechos humanos son derechos inherentes a todos los seres humanos, sin distinción alguna de raza, sexo, nacionalidad, origen étnico, lengua, religión o cualquier otra condición (ONU, 2015).
        p 
            strong.mr-2 Derechos Sexuales:
            | están encaminados a garantizar el ejercicio y desarrollo libre, informado, saludable y satisfactorio de la sexualidad, se fundamentan en el disfrute de la sexualidad y el erotismo, sin coacción, y libre de toda forma de violencia; implican explorar y disfrutar una vida sexual placentera, sin miedos, vergüenza, temores, inhibiciones, culpa, creencias infundadas, prejuicios, que limiten la expresión de estos derechos. Para su ejercicio se requiere del acceso a servicios de salud sexual, para que se tomen medidas para la prevención y atención de Infecciones de Transmisión Sexual, y enfermedades y dolencias que afecten el ejercicio placentero de la sexualidad. (Ministerio de Salud, 2018).
        p 
            strong.mr-2 Derechos reproductivos:
            | se sustentan en la facultad que tienen todas las personas a tomar decisiones libres y sin discriminación, sobre la posibilidad de procrear o no, de regular su fecundidad y de la posibilidad de conformar una familia y disponer de la información y medios para ello. Incluye el derecho a tener acceso a servicios de salud reproductiva que garanticen una maternidad segura, el derecho de las mujeres a la interrupción voluntaria del embarazo, a la prevención de embarazos no deseados y a la prevención y tratamiento de dolencias del aparato reproductor como el cáncer de útero, mamas y próstata.
        p 
            strong.mr-2 Desempoderamiento:
            | se denomina desempoderamiento al fenómeno que muestra la pérdida de poder de alguien que naturalmente lo tiene, o que lo tiene por un tiempo determinado (Encina, J., & Ezeiza, A., 2015).
        p 
            strong.mr-2 Desigualdad:
            | el desigual acceso a servicios públicos esenciales, como educación, salud, agua potable, vivienda, seguridad, transporte público; Las condiciones insuficientes en el ejercicio de derechos humanos, como el acceso a la justicia y la libertad de expresión; la informalidad laboral, que pone a un gran número de trabajadores en condiciones de precariedad en su empleo e ingreso, privándoles de la protección a que tienen derecho; las posibilidades desiguales de participación política, tanto en el ejercicio del sufragio, como en la posibilidad de incidir efectivamente en la acción de las instituciones públicas (Organización de los estados Americanos, 2014).
        p 
            strong.mr-2 Dignidad humana:
            | la dignidad humana es el derecho que tenemos todos los seres humanos a ser valorados como sujetos individuales y sociales, con nuestras características particulares, por el simple hecho de ser personas. La dignidad supone, además, el derecho a ser nosotros mismos y a sentirnos realizados, lo que se manifiesta en la posibilidad de elegir una profesión, expresar nuestras ideas y respetar a los demás (ONU, 2015).
        p 
            strong.mr-2 Discapacidad:
            | la discapacidad es una condición que afecta el nivel de vida de un individuo o de un grupo. El término se usa para definir una deficiencia física o mental, como la discapacidad sensorial, cognitiva o intelectual, la enfermedad mental o varios tipos de enfermedades crónicas (ONU, 2019).
        p 
            strong.mr-2 División sexual:
            | la división de las tareas productivas (trabajo) y reproductivas (cuidado) de la sociedad tiene un origen histórico. La historia y la sociología han denominado este proceso de división y distribución del trabajo como "división sexual del trabajo", división del trabajo en base al sexo o división genérica del trabajo (CEPAL, 2011).
        p 
            strong.mr-2 Economía del cuidado:
            | hace referencia al trabajo no remunerado que se realiza en el hogar, relacionado con mantenimiento de la vivienda, los cuidados a otras personas del hogar o la comunidad y el mantenimiento de la fuerza de trabajo remunerado. Esta categoría de trabajo es de fundamental importancia económica en una sociedad (Congreso De La República, 2010).
        p 
            strong.mr-2 Embarazo forzado:
            | se entenderá el confinamiento ilícito de una mujer a la que se ha dejado embarazada por la fuerza, con la intención de modificar la composición étnica de una población o de cometer otras violaciones graves del derecho internacional. En modo alguno se entenderá que esta definición afecta a las normas de derecho interno relativas al embarazo (Ambos, K., & Guerrero, O. J., 1999).
        p 
            strong.mr-2 Empoderamiento:
            | como empoderamiento se conoce el proceso por medio del cual se dota a un individuo, comunidad o grupo social de un conjunto de herramientas para aumentar su fortaleza, mejorar sus capacidades y acrecentar su potencial, todo esto con el objetivo de que pueda mejorar su situación social, política, económica, psicológica o espiritual (Silva, C., & Martínez, M. L., 2004).
        p 
            strong.mr-2 Erróneo:
            | que contiene error. 
            i Doctrina errónea
            | . Discurso erróneo (RAE, 2019).
        p 
            strong.mr-2 Esclavitud sexual:
            | situación de una persona cuya vulnerabilidad es aprovechada por terceros para someter a explotación sexual en condiciones contrarias a sus derechos fundamentales de libertad, igualdad o intimidad, afectando a su dignidad personal (RAE, 2019).
        p 
            strong.mr-2 Estereotipo de género:
            | es un patrón de comportamiento impuesto socialmente para que las personas se comporten de determinada manera, limitando su derecho a decidir cómo quiere ser (Naciones Unidas Derechos Humanos, s.f.).
        p 
            strong.mr-2 Femenino:
            | propio de la mujer o que posee características atribuidas a ella. 
            i Gesto, vestuario femenino
            | . (RAE, 2019).
        p 
            strong.mr-2 Feminicidio:
            | es el asesinato intencional de una mujer por el hecho de ser mujer, pero las definiciones más amplias abarcan todo asesinato de una niña o una mujer (Organización Mundial de la Salud, 2013).
        p 
            strong.mr-2 Formalización minera:
            | estrategia del Gobierno Nacional, que busca acompañar al pequeño minero en el camino hacia la formalización de su actividad. La formalización minera en Colombia tiene como objetivo que las comunidades mineras que vienen ejerciendo la actividad a pequeña escala trabajen bajo el amparo de un título, y en condiciones de formalidad técnica, laboral, ambiental y empresarial (Ministerio de Minas y energía, 2016).
        p 
            strong.mr-2 Género:
            | construcción social, cultural y psicológica que determina el concepto de mujer, hombre y de otras categorías no binarias o normativas. Es la conceptualización de nuestra identidad y comportamientos. Algunas identidades de género son: femenino, masculino, trans, transexual, transgénero, transformistas y travestis (Profamilia, 2020).
        p 
            strong.mr-2 Hombre:
            | persona del sexo masculino. Varón que ha llegado a la edad adulta (RAE,2019).
        p 
            strong.mr-2 Identidad de género:
            | es el concepto que se tiene de uno mismo como ser sexual y de los sentimientos que esto conlleva; se relaciona con cómo vivimos y sentimos nuestro cuerpo desde la experiencia personal y cómo lo llevamos al ámbito público, es decir, con el resto de las personas. Se trata de la forma individual e interna de vivir el género, la cual podría o no corresponder con el sexo con el que nacimos (Gobierno de México, Secretaría de Gobernación, 2016.).
        p 
            strong.mr-2 Igualdad de género:
            | la igualdad de género supone que los diferentes comportamientos, aspiraciones y necesidades de las mujeres y los hombres se consideren, valoren y promuevan de igual manera. Ello no significa que mujeres y hombres deban convertirse en iguales, sino que sus derechos, responsabilidades y oportunidades no dependan de si han nacido hombres o mujeres. La igualdad de género implica que los seres humanos, hombres y mujeres, son libres para desarrollar sus capacidades personales y para tomar decisiones (Programa de las Naciones Unidas para el Desarrollo & Ministerio del Interior, 2015).
        p 
            strong.mr-2 Igualdad:
            | es un derecho consagrado en el artículo 13 de la Constitución Política de Colombia: “Todas las personas nacen libres e iguales ante la ley, recibirán la misma protección y trato de las autoridades y gozarán de los mismos derechos, libertades y oportunidades sin ninguna discriminación por razones de sexo, raza, origen nacional o familiar, lengua, religión, opinión política o filosófica” (Constitución Política de Colombia, 1991).
        p 
            strong.mr-2 Indígena:
            | persona que pertenece a alguno de los grupos étnicos descendientes directos de las civilizaciones precolombinas y conservan su propia identidad (RAE, 2019).
        p 
            strong.mr-2 interseccionalidad:
            | la transversalidad es una teoría feminista, una metodología para la investigación y un trampolín para una agenda de acciones en el ámbito de la justicia social. Comienza con la premisa de que la gente vive identidades múltiples, formadas por varias capas, que se derivan de las relaciones sociales, la historia y la operación de las estructuras del poder. Las personas pertenecen a más de una comunidad a la vez y pueden experimentar opresiones y privilegios de manera simultánea (por ejemplo, una mujer puede ser una médica respetada, pero sufrir violencia doméstica en casa) (AWID, 2004).
        p 
            strong.mr-2 Legislación:
            | conjunto o cuerpo de leyes por las cuales se gobierna un Estado, o una materia determinada (RAE, 2019).
        p 
            strong.mr-2 Masculino:
            | Perteneciente o relativo al varón.
            br
            | Propio del varón o que posee característica atribuidas él (RAE, 2019).
        p 
            strong.mr-2 Mujer:
            | persona del sexo femenino. Mujer que ha llegado a la edad adulta. Mujer que tiene las cualidades consideradas femeninas por excelencia (RAE, 2019).
        p 
            strong.mr-2 Negro:
            | dicho de una persona o de la raza a la que pertenece. De piel oscura o negra (RAE, 2019).
        p 
            strong.mr-2 ODS:
            | objetivos de Desarrollo Sostenible. Son las 17 metas de desarrollo global a las que se comprometieron los países desarrollados para lograr disminuir la brecha de desigualdad que tienen las naciones con menos nivel de desarrollo.  Fueron acordados en el año 2015 (PNUD, 2020).
        p 
            strong.mr-2 Palenquero/a:
            | persona descendiente de africanos que se auto reconoce como tal. Los palenqueros son hoy notorios en todas partes (especialmente en Barranquilla, en Cartagena y aun en Venezuela) no sólo por el color azabache de su tez, sino también por su personalidad definida, que es típicamente africana: son serios, reservados, independientes y correctos. Las palenqueras trabajan como vendedoras de frutas en las calles de Cartagena, las cuales llevan en grandes 'poncheras' sobre la cabeza durante horas y horas, rarísima vez se emplean en el servicio doméstico. Los hombres laboran en diversos oficios. Hablan entre sí un 'criollo' de base española que llaman 'lengua' y, además, el castellano, en la modalidad dialectal costeña (Castillo Mathieu, N. D. 1984).
        p 
            strong.mr-2 Pictórica:
            | perteneciente o relativo a la pintura. Adecuado para ser representado en pintura (RAE, 2019).
        p 
            strong.mr-2 Pobreza multidimensional:
            | carencias a nivel de los hogares y las personas en los ámbitos de la salud, la educación y el nivel de vida. Refleja tanto la prevalencia de las carencias multidimensionales como su intensidad, es decir, cuántas carencias sufren las personas al mismo tiempo (PNUD, 2020).
        p 
            strong.mr-2 Política pública de sexualidad y derechos sexuales y reproductivos:
            | la Política Nacional de Sexualidad, Derechos Sexuales y Derechos Reproductivos se concibió como idea, para desarrollar una de las dimensiones prioritarias, definida en el Plan Decenal de Salud Pública, por ello tiene como vocación concreta y la preocupación constante del Ministerio de Salud y Protección Social de velar por la salud integral, la salud sexual y la salud reproductiva de las personas y su entendimiento como medio para que el bienestar físico mental y social sea posible, para los pueblos, grupos y comunidades de este vasto país, sin ningún distingo propiciado en la diferencia o las condiciones de vulnerabilidad en que puedan encontrarse inmersos y donde el enfoque de derechos, género y diferencial sea realmente materializado, a través de la prestación de servicios de calidad, humanizados, dignos y solidarios (Profamilia, et al. 2016).
        p 
            strong.mr-2 Política Pública:
            | las Políticas Públicas son las acciones de gobierno, emitidas por éste, que buscan dar respuestas a las diversas demandas de la sociedad. Batería de soluciones específicas, concretas y determinadas, destinadas al manejo de ciertos asuntos públicos que se catalogan como “situaciones socialmente problemáticas”. Las “Políticas Públicas” se basan y soportan en determinadas posturas políticas, filosóficas, sociales e ideológicas (Vargas, C. S. (2012).
        p 
            strong.mr-2 Premio Goldman:
            | los Premios Goldman fueron fundados por Richard y Rhoda Goldman, un matrimonio de filántropos estadounidenses. Ambos establecieron el Premio Ambiental Goldman en San Francisco, California, en 1990. La fundación de Goldman, que a veces se conoce como el “Nobel Verde”, reconoce la labor de aquellas personas que realizan un esfuerzo continuado y significativo para proteger y mejorar el medioambiente (Naturaliza, 2019).
        p 
            strong.mr-2 Prostitución forzada:
            | existe la prostitución forzada cuando una persona es prostituida contra su voluntad, es decir, cuando se ve obligada bajo coacción o intimidación a realizar actos sexuales a cambio de dinero o de un pago en especie, ya se transmita a otros o lo reciba la propia víctima de la prostitución (Sanchis, E., 2011).
        p 
            strong.mr-2 Raizal:
            | comunidad étnica, que tienen su propia lengua y cultura, desarrollada a partir de sus raíces africanas, europeas y caribeñas. Sus raíces culturales afro-anglo-antillanas se manifiestan en una fuerte identidad cultural que se diferencia del resto de la población colombiana. Las comunidades raizales habitan el territorio insular de San Andrés, Providencia y Santa Catalina (Universidad del Rosario, s.f).
        p 
            strong.mr-2 Resiliencia:
            | capacidad de adaptación de un ser vivo frente a un agente perturbador o un estado o situación adversos (RAE, 2019).
        p 
            strong.mr-2 Roles de género:
            | los roles de género hacen referencia al conjunto de normas sociales y de comportamiento apropiadas para los hombres y las mujeres de un grupo o sistema social dado, en función de la construcción social que se tenga de la masculinidad y femineidad, expresión pública de la identidad de género. Así, tanto lo femenino como lo masculino están determinados a relacionarse por distintos ámbitos sociales (o esferas) que marcan diferencias en el uso de los tiempos y los espacios (UNAF, s.f).
        p 
            strong.mr-2 Rrom:
            | el pueblo Rrom o gitano se consolida y fortalece como grupo étnico que hacen parte de la diversidad étnica y cultural de la nación colombiana. Su origen se remonta a más de 1000 años, proviene del norte de la India y conserva un alto bagaje cultural que lo diferencia de otros pueblos y de la sociedad mayoritaria. Se es rrom o gitano por derecho de nacimiento y se lleva la sangre gitana.  Mediante el decreto 2957, del 6 de agosto de 2010, el Estado colombiano reconoce que los gitanos tienen una identidad propia y mantienen una conciencia étnica particular (Ministerio de Cultura, s.f.).
        p 
            strong.mr-2 Sexismo:
            | discriminación de las personas por razón de sexo. El sexismo se refiere a todas aquellas prácticas y actitudes que promueven el trato diferenciado de las personas en razón de su sexo biológico, del cual se asumen características y comportamientos que se espera, las mujeres y los hombres, actúen cotidianamente (RAE,2019).
        p 
            strong.mr-2 Sexo:
            | son todas las diferencias físicas (externas) y fisiológicas (internas) que distinguen a un hombre de una mujer. Los sexos son hombre y mujer. También pueden nacer personas intersexuales que tienen la confluencia de ambos sexos (PNUD & Mininterior, 2016).
        p 
            strong.mr-2 Sistema nacional ambiental:
            | la ley 99 de 1993 creó el Sistema Nacional Ambiental (SINA), que se define como el conjunto de orientaciones, normas, actividades, recursos, programas e instituciones que permiten la puesta en marcha de los principios generales ambientales contenidos en la Constitución Política de Colombia de 1991 y la Ley 99 de 1993. Integrado por el Ministerio del Medio Ambiente, las Corporaciones Autónomas Regionales, las Entidades Territoriales y los Institutos de Investigación adscritos y vinculados al Ministerio (Corpouraba, s.f.).
        p 
            strong.mr-2 Trabajo doméstico:
            | el trabajo doméstico se define como “el trabajo realizado en un hogar u hogares, o para los mismos”. Las ocupaciones y tareas consideradas trabajo doméstico varían de un país a otro: cocinar, limpiar, cuidar de niños, personas de edad y personas con discapacidades, ocuparse del jardín o de mascotas, o conducir el automóvil familiar (OIT, s.f).
        p 
            strong.mr-2 Trabajo infantil:
            | el trabajo infantil es todo aquel realizado por un niño, niña o adolescente, que no alcance la edad mínima de admisión al empleo y en los términos establecidos por la legislación nacional y que, por consiguiente, impida la educación y el pleno desarrollo del niño, la niña o el adolescente; el que se ajuste a la definición de trabajo peligroso o aquel que está incluido como peores formas de trabajo infantil (ICBF, 2016).
        p 
            strong.mr-2 Transgénero:
            | término que representa a aquellas personas que no se sienten identificadas con el sexo biológico que les fue otorgado en el nacimiento. Las personas transgéneros tienen una identidad de género diferente del sexo que se les asignó al nacer (UNFE, 2017).
        p 
            strong.mr-2 Términos de referencia:
            | los términos de referencia son los lineamientos generales que la autoridad señala y publica para la elaboración y ejecución de los estudios de diagnóstico que se deben presentar ante la autoridad competente (ANLA, S.F).
        p 
            strong.mr-2 Vera:
            | orilla, a la orilla (RAE, 2019).
        p 
            strong.mr-2 Veta:
            | cuerpo de roca tabular o laminar que penetra cualquier tipo de roca. Se aplica este término particularmente para intrusiones ígneas de poco espesor como diques o silos, y cuyos componentes más comunes son cuarzo o calcita. Muchos depósitos de mena importantes se presentan en formas de vetas, junto con otros minerales asociados (MinMinas, 2003).
        p 
            strong.mr-2 Violación sexual:
            | es cualquier intromisión al cuerpo de otra persona, en contra de su voluntad o aprovechándose de  su estado de indefensión, de dependencia laboral, económica o emocional, para obligarla a tener prácticas sexuales no penetrativas (NSVRC, 2017).
        p 
            strong.mr-2 Violencia basada en género:
            | la violencia basada en el género (VBG) es un término utilizado para describir los actos perjudiciales perpetrados en contra de una persona sobre la base de las diferencias que la sociedad asigna a hombres y mujeres (Unicef, s.f).
        p 
            strong.mr-2 Violencia emocional:
            | es cualquier acto dirigido a destruir todos los bienes materiales de una mujer y de sus hijos/as para desempoderarla y crear una relación de dependencia con el agresor que le permita controlarla. Produce daño emocional y económico (Fundación para la Promoción y Desarrollo de la Mujer, s.f.).
        p 
            strong.mr-2 Violencia física:
            | también conocida como violencia psicológica. Es cualquier acto de agresión contra una mujer mediante manipulación, humillaciones, insultos y descalificaciones por ser mujer. Produce un daño emocional (Congreso de la República, 2008).
        p 
            strong.mr-2 Violencia sexual:
            | la violencia sexual ocurre cuando alguien fuerza o manipula a otra persona a realizar una actividad sexual no deseada, sin su consentimiento. Las razones por las cuales no hay consentimiento pueden ser el miedo, la edad, una enfermedad, una discapacidad y/o la influencia del alcohol u otras drogas (NSVRC,2017).