.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td El cambio climático es una cuestión que afecta a las mujeres. ONU Mujeres.
                    td Web
                    td 
                        a(href="https://interactive.unwomen.org/multimedia/photo/climatechange/es/index.html", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Intervención de Greta Thunberg en la COP24 en Katowice, Polonia 2018.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=wYr3DNWcFO0", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Vicepresidencia de la República, (2018), Rutas de prevención de violencia contra las mujeres.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_4_Rutas_de_prevencion.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Universidad de Harvard. (s.f.), Test de asociación implícita.
                    td Web
                    td 
                        a(href="https://implicit.harvard.edu/implicit/spain/takeatest.html", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Isidro Maya Jariego & Jorge E. Palacio Sañudo. (2012). Edúcame Primero Colombia.
                    td Pdf
                    td 
                        a(href="https://www.icbf.gov.co/sites/default/files/educamente_primero_colombia.pdf", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Descargar
                tr
                    td Daniel Holgado, Isidro Maya-Jariego & Jorge E. Palacio. (2012). “Espacios para Crecer”: un caso de intervención comunitaria en trabajo infantil desde el contexto educativo.
                    td Pdf
                    td 
                        a(href="https://www.icbf.gov.co/sites/default/files/espacios_para_crecer_un_caso_de_intervencion_comunitaria_en_trabajo.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Iniciativa regional. América Latina y el Caribe libre de trabajo infantil. (s.f.). Hacia la primera generación libre de trabajo infantil.
                    td Web
                    td 
                        a(href="http://target8-7.iniciativa2025alc.org/", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td Organización Mundial de la Salud. (2013). Comprender y abordar la violencia contra las mujeres. Femicidio. Washington, DC.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_17_Comprender_abordar_violencia.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar